<div id="error">
  <h2><%= owner %>/<%= repo %>:<%= id %></h2>
  <h3>Error</h3>
  <p>Occurred an error.</p>
  <blockquote>
    <% messages.forEach(message => { %>
    <p><%= message  %></p>
    <% }) %>
  </blockquote>
</div>