<div class="index">
  <% if(user) { %>
  <div id="repos">
    <h1>Repositories</h1>
    <input type="text" v-model="filterText" placeholder="filter" size="40">
    <ul>
      <li v-for="repo in filterRepos" key="repo.id">
        <a :href="`/show?owner=${repo.owner.login}&repo=${repo.name}`">
        {{repo.full_name}}
        </a>
      </li>
      <li v-show="!end && !filterText">Loading...</li>
    </ul>
  </div>
  <% } else { %>
  <h2>
    Build preview environment rapidly.
  </h2>
  <a href="/auth/login" class="button">
    <i class="fa fa-lg fa-github"></i>
    Login with Github
  </a>
  <% } %>
</div>