<!DOCTYPE html>
<html>
<head>
  <title>oasis::<%= owner %>/<%= repo %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <header class="page-header">
    <div class="container">
      <h1>oasis</h1>
      <h2>
        <small>Build preview environment rapidly.</small>
      </h2>
    </div>
  </header>
  <main id="contents">
    <div class="container">
      <%- body %>
    </div>
  </main>
  <script src="/js/main.js"></script>
</body>
</html>