<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <header class="page-header">
    <div class="container">
      <div class="row row-center always-column">
        <div class="column column-80">
          <% if (url === '/') { %>
          <h1 class="appname"><%= appname %></h1>
          <% } else { %>
          <p class="appname"><a href="/"><%= appname %></a></p>
          <% } %>
        </div>
        <div class="column column-20">
          <% if(user) { %>
          <a href="/auth/logout" class="button logout float-right">Logout</a>
          <% } %>
        </div>
      </div>
    </div>
  </header>
  <main id="contents">
    <div class="container">
      <%- body %>
    </div>
  </main>
  <footer class="page-footer">
    
  </footer>
  <script src="/js/main.js"></script>
</body>
</html>