@import 'milligram-cssnext';

:root {
  --color-primary: #3fbfa8;
  --color-bg: color(#ddb58c l(+25%));
  --color-tertiary: color(#f4f5f6 a(50%));
}

[v-cloak] {
  display: none;
}

body {
  margin: 5rem 0 0;
  background:
    radial-gradient(circle at 100% 50%, transparent 20%, var(--color-bg) 21%, var(--color-bg) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, var(--color-bg) 21%, var(--color-bg) 34%, transparent 35%, transparent) 0 -50px;
    background-color: color(var(--color-bg) l(-2%));
    background-size:75px 100px;
}

.commit-list {
  margin: 1rem 0 1rem 2.5rem;
  position: relative;
  list-style: none;
  &::before {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    background-color: var(--color-primary);
    left: calc(-1.5rem - 1px);
  }
  & > li {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      width: 1rem;
      height: 1rem;
      display: block;
      border-radius: 50%;
      left: -2rem;
      top: calc(50% - .5rem);
      background-color: var(--color-primary);
    }
    & svg {
      fill: var(--color-primary);
      width: 2ex;
      height: 2ex;
      vertical-align: baseline;
    }
  }
}

.text-center {
  text-align: center;
}

.logo {
  display: block;
  margin: auto;
}

main {
  margin-top: 3rem;
}

.repo-name svg {
  width: 3.5rem;
  height: 3.5rem;
  vertical-align: middle;
  fill: var(--color-primary);
}

output {
  padding: 0 1rem;
  overflow: auto;
  display: block;
  max-height: 60vh;
}

.inline {
  display: inline;
}

select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#3fbfa8" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>')
}

@media (min-width: 40.0rem) {
  input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], textarea, select {
    width: auto;
  }
}