@import 'milligram-cssnext';

:root {
  --color-primary: #3fbfa8;
  --color-bg: color(#ddb58c l(+25%));
  --color-tertiary: color(#f4f5f6 a(50%));
}

[v-cloak] {
  display: none;
}

body {
  margin: 5rem 0 0;
  background: 
    radial-gradient(circle at 100% 50%, transparent 20%, var(--color-bg) 21%, var(--color-bg) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, var(--color-bg) 21%, var(--color-bg) 34%, transparent 35%, transparent) 0 -50px;
    background-color: color(var(--color-bg) l(-2%));
    background-size:75px 100px;
}

.fa-ul {
  line-height: 1.4;
  margin-left: 2.7rem;
}

main {
  margin-top: 3rem;
}

output {
  padding: 0 1rem;
  overflow: auto;
  display: block;
  max-height: 60vh;
}

.inline {
  display: inline;
}

select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#3fbfa8" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>')
}

@media (min-width: 40.0rem) {
  input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], textarea, select {
    width: auto;
  }
}